---
import PaymentListToday from "./PaymentListToday.astro";
---

<script>
	let fullDayToday;

	const opciones: Intl.DateTimeFormatOptions = {
		weekday: "long",
		day: "2-digit",
		month: "long",
		year: "numeric",
	};

	function getFullDayToday1() {
		return new Date().toLocaleDateString([], opciones);
	}

	document.addEventListener("DOMContentLoaded", () => {
		const updateDateTime = () => {
			const fullDayElement = document.getElementById("fullDayToday1");
			fullDayElement
				? (fullDayToday = fullDayElement.textContent = getFullDayToday1())
				: null;
		};

		updateDateTime();

		// Calculate the time remaining until midnight
		const now = new Date();
		const timeUntilMidnight =
			new Date(now.getFullYear(), now.getMonth(), now.getDate() + 1).getTime() -
			now.getTime();

		// Update at midnight and then every 24 hours
		setTimeout(() => {
			updateDateTime();
			setInterval(updateDateTime, 86400000); // 24 hours = 86400000 milliseconds
		}, timeUntilMidnight);
	});
</script>

<section>
	<div
		class:list={[
			"flex flex-col gap-1 w-full",
			"px-10 pb-10",
			"bg-slate-50 dark:bg-slate-900",
			"block sm:flex justify-between shadow-md",
		]}
	>
		<div class="py-8">
			<h1
				class="text-xl font-semibold text-black sm:text-2xl dark:text-blue-100"
			>
				Pagos de hoy - <span id="fullDayToday1"> </span>
			</h1>
		</div>
		<PaymentListToday />
	</div>
</section>
