---
import PaymentList from "../components/Payment/PaymentList.astro";
import Base from "../layout/Base.astro";
---

<Base title="Pagos">
  <section class="py-24 px-4 w-full flex flex-col items-center gap-2">
    <h2 class="text-2xl font-semibold text-indigo-600 dark:text-indigo-400">
      Pagos Diarios
    </h2>
    <PaymentList/>
  </section>
</Base>


