---

---

<aside
	id="sidebar"
	class:list={[
		"fixed top-0 left-0 z-20",
		"w-64 h-full pt-16 font-normal",
		"flex flex-col flex-shrink-0",
		"transition-transform duration-300 -translate-x-full lg:translate-x-0",
	]}
	aria-label="Sidebar"
>
	<div
		class:list={[
			"relative min-h-0 pt-0",
			"flex flex-col flex-1",
			"border-r bg-white border-gray-200 dark:bg-slate-900 dark:border-slate-700",
		]}
	>
		<div
			class:list={[
				"flex flex-col flex-1 pt-5 pb-28 overflow-y-auto",
				"scrollbar scrollbar-w-2 scrollbar-thumb-rounded-[0.1667rem]",
				"scrollbar-thumb-slate-200 scrollbar-track-gray-400",
				"dark:scrollbar-thumb-slate-900 dark:scrollbar-track-gray-800",
			]}
		>
			<section
				class:list={[
					"flex-1 px-3 gap-3",
					"divide-y bg-white divide-gray-200 dark:bg-slate-900 dark:divide-gray-700",
				]}
			>
				<div class="flex flex-col gap-2 py-2">
					<span
						id="fullHourToday"
						class="px-2 py-1 text-lg font-semibold text-gray-500 dark:text-gray-400"
					></span>
					<span
						id="fullDayToday"
						class="px-2 py-1 text-sm font-semibold text-gray-500 dark:text-gray-400"
					></span>
				</div>
				<ul class="flex flex-col gap-2 py-2">
					<!-- Pagos del dia -->
					<li>
						<a
							href="/panel/pagos-del-dia"
							class="flex items-center p-2 text-base text-black rounded-lg hover:bg-gray-100 group dark:text-neutral-100 dark:hover:bg-gray-700"
						>
							<svg
								fill="currentColor"
								class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-black dark:text-gray-400 dark:group-hover:text-neutral-100"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
								aria-hidden="true"
							>
								<path
									d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z"
								></path>
								<path
									d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z"
								></path>
							</svg>
							<span class="ml-3" sidebar-toggle-item>Pagos del dia</span>
						</a>
					</li>

					<!-- Lista de todos los pagos -->
					<li>
						<a
							href="/panel/pagos-anteriores"
							class="flex items-center p-2 text-base text-black rounded-lg hover:bg-gray-100 group dark:text-neutral-100 dark:hover:bg-gray-700"
						>
							<svg
								class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-black dark:text-gray-400 dark:group-hover:text-neutral-100"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								aria-hidden="true"
							>
								<path
									clip-rule="evenodd"
									fill-rule="evenodd"
									d="M.99 5.24A2.25 2.25 0 013.25 3h13.5A2.25 2.25 0 0119 5.25l.01 9.5A2.25 2.25 0 0116.76 17H3.26A2.267 2.267 0 011 14.74l-.01-9.5zm8.26 9.52v-.625a.75.75 0 00-.75-.75H3.25a.75.75 0 00-.75.75v.615c0 .414.336.75.75.75h5.373a.75.75 0 00.627-.74zm1.5 0a.75.75 0 00.627.74h5.373a.75.75 0 00.75-.75v-.615a.75.75 0 00-.75-.75H11.5a.75.75 0 00-.75.75v.625zm6.75-3.63v-.625a.75.75 0 00-.75-.75H11.5a.75.75 0 00-.75.75v.625c0 .414.336.75.75.75h5.25a.75.75 0 00.75-.75zm-8.25 0v-.625a.75.75 0 00-.75-.75H3.25a.75.75 0 00-.75.75v.625c0 .414.336.75.75.75H8.5a.75.75 0 00.75-.75zM17.5 7.5v-.625a.75.75 0 00-.75-.75H11.5a.75.75 0 00-.75.75V7.5c0 .414.336.75.75.75h5.25a.75.75 0 00.75-.75zm-8.25 0v-.625a.75.75 0 00-.75-.75H3.25a.75.75 0 00-.75.75V7.5c0 .414.336.75.75.75H8.5a.75.75 0 00.75-.75z"
								></path>
							</svg>
							<span class="ml-3" sidebar-toggle-item>Pagos anteriores</span>
						</a>
					</li>

					<li>
						<a
							href="/panel/lista-propietarios"
							class="flex items-center p-2 text-base text-black rounded-lg hover:bg-gray-100 group dark:text-neutral-100 dark:hover:bg-gray-700"
						>
							<svg
								class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-black dark:text-gray-400 dark:group-hover:text-neutral-100"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
								></path></svg
							>
							<span class="ml-3" sidebar-toggle-item>Lista de propietarios</span
							>
						</a>
					</li>
				</ul>
				<!-- Settings -->
				<div class="flex flex-col gap-2 py-2">
					<a
						href=""
						class="flex items-center p-2 text-base text-black rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
					>
						<svg
							class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-black dark:text-gray-400 dark:group-hover:text-neutral-100"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							aria-hidden="true"
						>
							<path
								clip-rule="evenodd"
								fill-rule="evenodd"
								d="M8.34 1.804A1 1 0 019.32 1h1.36a1 1 0 01.98.804l.295 1.473c.497.144.971.342 1.416.587l1.25-.834a1 1 0 011.262.125l.962.962a1 1 0 01.125 1.262l-.834 1.25c.245.445.443.919.587 1.416l1.473.294a1 1 0 01.804.98v1.361a1 1 0 01-.804.98l-1.473.295a6.95 6.95 0 01-.587 1.416l.834 1.25a1 1 0 01-.125 1.262l-.962.962a1 1 0 01-1.262.125l-1.25-.834a6.953 6.953 0 01-1.416.587l-.294 1.473a1 1 0 01-.98.804H9.32a1 1 0 01-.98-.804l-.295-1.473a6.957 6.957 0 01-1.416-.587l-1.25.834a1 1 0 01-1.262-.125l-.962-.962a1 1 0 01-.125-1.262l.834-1.25a6.957 6.957 0 01-.587-1.416l-1.473-.294A1 1 0 011 10.68V9.32a1 1 0 01.804-.98l1.473-.295c.144-.497.342-.971.587-1.416l-.834-1.25a1 1 0 01.125-1.262l.962-.962A1 1 0 015.38 3.03l1.25.834a6.957 6.957 0 011.416-.587l.294-1.473zM13 10a3 3 0 11-6 0 3 3 0 016 0z"
							></path>
						</svg>
						<span class="ml-3" sidebar-toggle-item>Ajustes</span>
					</a>
				</div>
			</section>
		</div>
	</div>
</aside>

<script>
	function getFullHourToday() {
		return new Date().toLocaleTimeString([], {
			hour: "2-digit",
			minute: "2-digit",
			second: "2-digit",
			hour12: true,
		});
	}

	function getFullDayToday() {
		return new Date().toLocaleDateString([], {
			weekday: "long",
			day: "2-digit",
			month: "long",
			year: "numeric",
		});
	}

	document.addEventListener("DOMContentLoaded", () => {
		const updateDateTime = () => {
			const fullHourElement = document.getElementById("fullHourToday");
			if (fullHourElement) {
				fullHourElement.textContent = getFullHourToday();
			}

			const fullDayElement = document.getElementById("fullDayToday");
			if (fullDayElement) {
				fullDayElement.textContent = getFullDayToday();
			}
		};

		updateDateTime();
		setInterval(updateDateTime, 1000);
	});

	document.addEventListener("DOMContentLoaded", function () {
		const sidebar: any = document.getElementById("sidebar");
		const toggleSidebarMobileEl: any = document.getElementById(
			"toggleSidebarMobile",
		);
		const sidebarBackdrop: any = document.getElementById("sidebarBackdrop");
		const toggleSidebarMobileHamburger: any = document.getElementById(
			"toggleSidebarMobileHamburger",
		);
		const toggleSidebarMobileClose: any = document.getElementById(
			"toggleSidebarMobileClose",
		);

		// Toggle Sidebar
		const toggleSidebar = () => {
			sidebar.classList.toggle("-translate-x-full");
			sidebarBackdrop.classList.toggle("hidden");
			toggleSidebarMobileHamburger.classList.toggle("hidden");
			toggleSidebarMobileClose.classList.toggle("hidden");
		};

		toggleSidebarMobileEl?.addEventListener("click", toggleSidebar);
		sidebarBackdrop?.addEventListener("click", toggleSidebar);
	});
</script>
