---
import PaymentListAll from "./PaymentListAll.astro";
---

<section
	class:list={[
		"pt-10 pb-20 xl:px-10 md:px-8 px-4 w-full mx-auto",
		"flex flex-col justify-center items-stretch gap-6",
	]}
>
	<h2 class="text-3xl text-center
	font-semibold text-black dark:text-white">
		Todos los pagos
	</h2>
	<PaymentListAll />
</section>
