---
import OwnerTableList from "./OwnerTableList.astro";
---

<section
	class:list={[
		"pb-10 px-1 lg:px-10",
		"flex flex-col gap-1 w-full",
		"bg-slate-50 dark:bg-slate-900",
		"block sm:flex justify-between shadow-md",
	]}
>
	<div
		class:list={[
			"py-4 bg-slate-50 dark:bg-slate-900",
			"block sm:flex items-center justify-between gap-1",
		]}
	>
		<div class="w-full">
			<h1
				class:list={[
					"py-6 px-2 lg:py-8",
					"text-black dark:text-white",
					"font-semibold text-xl sm:text-2xl text-center",
				]}
			>
				Listado de los dueños de carretas
			</h1>
			<div class="sm:flex">
				<!-- Search input -->
				<div class="items-center mb-3 sm:flex sm:mb-0">
					<form class="lg:pr-3" action="#" method="GET">
						<label for="users-search" class="sr-only">Search</label>
						<div class="relative mt-1 lg:w-64 xl:w-96">
							<input
								type="text"
								name="email"
								id="users-search"
								class:list={[
									"block w-full p-2.5",
									"bg-gray-50 border border-gray-300",
									"text-gray-900 sm:text-sm rounded-lg",
									"focus:ring-gray-500 focus:border-gray-500",
									"hover:bg-white hover:border-gray-300",
									"dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500",
									"",
								]}
								placeholder="Buscar por nombre"
							/>
						</div>
					</form>
				</div>

				<!-- Add user button -->
				<div class="flex items-center ml-auto space-x-2 sm:space-x-3">
					<button
						type="button"
						data-modal-target="add-owner-modal"
						data-modal-toggle="add-owner-modal"
						class="inline-flex items-center justify-center w-1/2 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
					>
						<svg
							class="w-5 h-5 mr-2 -ml-1"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
								clip-rule="evenodd"></path></svg
						>
						Add user
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Table -->
	<OwnerTableList />
</section>
