---
import LayoutSidebar from "../../app/layout/LayoutSidebar.astro";
import PaymentListToday from "../../components/payment/today/PaymentListToday.astro";
const paymentPageTitle: string = "Pagos";
---

<script>
	let fullDayToday;

	function getFullDayToday1() {
		return new Date().toLocaleDateString([], {
			weekday: "long",
			day: "2-digit",
			month: "long",
			year: "numeric",
		});
	}

	document.addEventListener("DOMContentLoaded", () => {
		const updateDateTime = () => {
			const fullDayElement = document.getElementById("fullDayToday1");
			fullDayElement
				? (fullDayToday = fullDayElement.textContent = getFullDayToday1())
				: null;
		};

		updateDateTime();

		// Calculate the time remaining until midnight
		const now = new Date();
		const timeUntilMidnight =
			new Date(now.getFullYear(), now.getMonth(), now.getDate() + 1).getTime() -
			now.getTime();

		// Update at midnight and then every 24 hours
		setTimeout(() => {
			updateDateTime();
			setInterval(updateDateTime, 86400000); // 24 hours = 86400000 milliseconds
		}, timeUntilMidnight);
	});
</script>

<LayoutSidebar title={paymentPageTitle}>
	<section
		class="pt-10 pb-20 xl:px-10 md:px-8 px-4
    w-full min-h-[60hv] mx-auto
    flex flex-col justify-center items-stretch gap-6"
	>
		<h2
			class="px-4 text-3xl text-center
      font-semibold text-indigo-600 dark:text-indigo-400"
		>
			Pagos de hoy - <span id="fullDayToday1"> </span>
		</h2>
		<PaymentListToday />
	</section>
</LayoutSidebar>
